<mat-toolbar color="primary">
    <!-- Seleccionar Items a Facturar -->
    <h2 mat-dialog-title>{{ titulo }}</h2>
</mat-toolbar>



<mat-dialog-content class="mat-typography">


    <mat-form-field class="full-width">
        <!-- (keyup)="applyFilter($event.target.value)"  -->
        <input matInput id="search" (keyup)="applyFilter($event.target.value)" [(ngModel)]="filtro" placeholder="Buscar...">
    </mat-form-field>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

            <!-- Actions Column   [mat-dialog-close]="row"-->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let row">
                    <button mat-mini-fab color="primary" (click)="cerrar(row)">
                        <mat-icon> check</mat-icon>
                    </button>
                </td>
            </ng-container>


            <!-- Código Column -->
            <ng-container matColumnDef="EscItemCod">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Código </th>
                <td mat-cell *matCellDef="let row"> {{row.EscItemCod}} </td>
            </ng-container>


            <!-- Descripción Column -->
            <ng-container matColumnDef="EscItemDesc">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
                <td mat-cell *matCellDef="let row"> {{row.EscItemDesc}} </td>
            </ng-container>


            <!-- prefactura Column -->
            <ng-container matColumnDef="prefactura">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let row">

                    <button mat-mini-fab color="primary" (click)="verPrefactura(row)" matTooltip="Descargar PDF de Prefactura">
                        <mat-icon> insert_drive_file</mat-icon>
                    </button>


                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
        </table>

        <mat-paginator [length]="length" [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>



    </div>


</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()">Cancelar</button>
</mat-dialog-actions>