<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div class="row between-xs middle-xs header-row">
            <nav>
                <a mat-flat-button color="primary" routerLink="/home">Home</a>
            </nav>
            <div class="row">

                <a mat-flat-button routerLink="/login" color="primary" class="a-margin">
                    Iniciar sesión
                    <mat-icon> login</mat-icon>
                </a>
            </div>
        </div>

    </mat-toolbar-row>
</mat-toolbar>