<!-- novalidate -->
<div class="row" style="margin-top: 10px">
  <div class="col-xs-offset-1 col-xs-10">
    <div class="box">
      <mat-card>
        <form [formGroup]="form">
          <mat-card-content>
            <div class="contenedor">
              <h3>InscripcionId</h3>
              <div class="row">
                <div class="col-xs">
                  <mat-form-field class="full-width">
                    <input
                      matInput
                      placeholder="InscripcionId"
                      formControlName="inscripcionId"
                    />
                  </mat-form-field>
                </div>
              </div>

              <mat-divider></mat-divider>

              <div class="row-inter">
                <h3>Alumno</h3>
                <div class="row">
                  <div class="col">
                    <mat-form-field class="full-width">
                      <input
                        matInput
                        [matDatepicker]="picker"
                        placeholder="Fecha De Ingreso"
                        [value]="fechaClase"
                        formControlName="fechaClase"
                      />
                      <mat-datepicker-toggle
                        matSuffix
                        [for]="picker"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-4">
                  <mat-form-field class="full-width">
                    <input
                      matInput
                      placeholder="Número del Alumno"
                      formControlName="alumnoNumero"
                    />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width">
                    <input
                      matInput
                      placeholder="Nombre del Alumno"
                      formControlName="alumnoNombre"
                    />
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width">
                    <input
                      matInput
                      placeholder="Cédula de Identidad"
                      formControlName="alumnoCI"
                    />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width">
                    <input
                      matInput
                      placeholder="Télefono"
                      formControlName="alumnoTelefono"
                    />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width">
                    <input
                      matInput
                      placeholder="Celular"
                      formControlName="alumnoCelular"
                    />
                  </mat-form-field>
                </div>
              </div>
              <!-- </div> -->
              <mat-divider></mat-divider>
              <div class="row-inter">
                <h3>Curso</h3>
                <div class="row">
                  <div class="col-xs-4">
                    <mat-form-field class="full-width">
                      <input
                        matInput
                        placeholder="Curso"
                        formControlName="cursoId"
                      />
                      <button
                        mat-icon-button
                        matSuffix
                        [attr.aria-label]="'Hide password'"
                      >
                        <mat-icon> search </mat-icon>
                      </button>
                    </mat-form-field>
                  </div>

                  <div class="col-xs-8">
                    <mat-form-field class="full-width">
                      <input
                        matInput
                        placeholder="Nombre del Curso"
                        formControlName="cursoNombre"
                      />
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <div class="row">
                      <div class="col-xs-3">
                        <mat-form-field class="full-width">
                          <input
                            matInput
                            placeholder="Prácticas"
                            formControlName="cursoClasesPracticas"
                          />
                        </mat-form-field>
                      </div>
                      <div class="col-xs-3">
                        <mat-form-field class="full-width">
                          <input
                            matInput
                            placeholder="Teóricas"
                            formControlName="cursoClasesTeoricas"
                          />
                        </mat-form-field>
                      </div>
                      <div class="col-xs-3">
                        <div id="cursoExamenPractico" style="margin-top: 20px">
                          <mat-checkbox formControlName="cursoExamenPractico">
                            Examen Práctico
                          </mat-checkbox>
                        </div>
                      </div>
                      <div class="col-xs-3">
                        <div id="cursoExamenTeorico" style="margin-top: 20px">
                          <mat-checkbox formControlName="cursoExamenTeorico"
                            >Examen Teórico
                          </mat-checkbox>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-6">
                    <mat-form-field class="full-width">
                      <input
                        matInput
                        [matDatepicker]="pickerCurso"
                        placeholder="Inicio del Curso"
                        formControlName="escCurIni"
                      />
                      <mat-datepicker-toggle matSuffix [for]="pickerCurso">
                      </mat-datepicker-toggle>
                      <mat-datepicker #pickerCurso></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-xs-6">
                    <mat-form-field class="full-width">
                      <input
                        matInput
                        [matDatepicker]="pickerEstimada"
                        placeholder="Fecha De Inicio Estimada"
                        formControlName="fechaInicioEstimada"
                      />
                      <mat-datepicker-toggle matSuffix [for]="pickerEstimada">
                      </mat-datepicker-toggle>
                      <mat-datepicker #pickerEstimada></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6">
                    <mat-form-field class="full-width">
                      <mat-label>Sede</mat-label>
                      <mat-select formControlName="sede">
                        <mat-option
                          *ngFor="let sede of sedes"
                          [value]="sede.value"
                        >
                          {{ sede.description }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xs-6">
                    <div id="irABuscarAlAlumno" style="margin-top: 20px">
                      <mat-checkbox
                        formControlName="irABuscarAlAlumno"
                        color="primary"
                      >
                        <!-- (ngModelChange)="updateAllComplete()" -->
                        Recoger al alumno en su domicilio?
                      </mat-checkbox>
                    </div>
                  </div>
                </div>
              </div>

              <mat-divider></mat-divider>
              <div class="row-inter">
                <h3>Clases Teóricas</h3>
                <div class="row">
                  <div class="col">
                    <mat-form-field class="full-width">
                      <input
                        matInput
                        [matDatepicker]="pickerPrimerTeorica"
                        placeholder="1er. Teórica"
                        formControlName="escCurTe1"
                      />

                      <mat-datepicker-toggle
                        matSuffix
                        [for]="pickerPrimerTeorica"
                      >
                      </mat-datepicker-toggle>
                      <mat-datepicker #pickerPrimerTeorica></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-form-field class="full-width">
                      <input
                        matInput
                        [matDatepicker]="pickerSegundaTeorica"
                        placeholder="2da. Teórica"
                        formControlName="escCurTe2"
                      />
                      <mat-datepicker-toggle
                        matSuffix
                        [for]="pickerSegundaTeorica"
                      >
                      </mat-datepicker-toggle>
                      <mat-datepicker #pickerSegundaTeorica></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-form-field class="full-width">
                      <input
                        matInput
                        [matDatepicker]="pickerTercerTeorica"
                        placeholder="3er. Teórica"
                        formControlName="escCurTe3"
                      />

                      <mat-datepicker-toggle
                        matSuffix
                        [for]="pickerTercerTeorica"
                      >
                      </mat-datepicker-toggle>
                      <mat-datepicker #pickerTercerTeorica></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <mat-divider></mat-divider>

              <div class="row-inter">
                <h3>Documentos entregados y firmados</h3>

                <div class="row">
                  <div class="col-xs">
                    <div class="box">
                      <div id="reglamentoEscuela" style="margin-top: 20px">
                        <mat-checkbox
                          formControlName="reglamentoEscuela"
                          color="primary"
                        >
                          Reglamento Escuela
                        </mat-checkbox>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs">
                    <div class="box">
                      <div id="condicionesCurso" style="margin-top: 20px">
                        <mat-checkbox
                          formControlName="condicionesCurso"
                          color="primary"
                        >
                          Condiciones Curso
                        </mat-checkbox>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs">
                    <div class="box">
                      <div id="eLearning" style="margin-top: 20px">
                        <mat-checkbox
                          formControlName="eLearning"
                          color="primary"
                        >
                          E-Learning
                        </mat-checkbox>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <mat-divider></mat-divider>

              <div class="row-inter">
                <h3>Disponibilidad del alumno</h3>
                <div class="row">
                  <div class="col margin-bottom-10">
                    <button
                      mat-stroked-button
                      color="warn"
                      (click)="limpiarDisponibilidades()"
                    >
                      Limpiar disponibilidades
                    </button>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <!-- <div class="row"> -->
                    <h4>Lunes</h4>
                    <mat-form-field>
                      <mat-label>Horas Disponibles</mat-label>
                      <mat-select
                        multiple
                        formControlName="disponibilidadLunes"
                      >
                        <mat-option
                          *ngFor="let hora of horasLibres"
                          [value]="hora.value"
                        >
                          {{ hora.description }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <!-- </div> -->
                  </div>
                  <div class="col">
                    <!-- <div class="row"> -->
                    <h4>Martes</h4>
                    <mat-form-field>
                      <mat-label>Horas Disponibles</mat-label>
                      <mat-select
                        multiple
                        formControlName="disponibilidadMartes"
                      >
                        <mat-option
                          *ngFor="let hora of horasLibres"
                          [value]="hora.value"
                        >
                          {{ hora.description }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <!-- </div> -->
                  </div>
                  <div class="col">
                    <!-- <div class="row"> -->
                    <h4>Miercoles</h4>
                    <mat-form-field>
                      <mat-label>Horas Disponibles</mat-label>
                      <mat-select
                        multiple
                        formControlName="disponibilidadMiercoles"
                      >
                        <mat-option
                          *ngFor="let hora of horasLibres"
                          [value]="hora.value"
                        >
                          {{ hora.description }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <!-- </div> -->
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <!-- <div class="row"> -->
                    <h4>Jueves</h4>
                    <mat-form-field>
                      <mat-label>Horas Disponibles</mat-label>
                      <mat-select
                        multiple
                        formControlName="disponibilidadJueves"
                      >
                        <mat-option
                          *ngFor="let hora of horasLibres"
                          [value]="hora.value"
                        >
                          {{ hora.description }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <!-- </div> -->
                  </div>
                  <div class="col">
                    <!-- <div class="row"> -->
                    <h4>Viernes</h4>
                    <mat-form-field>
                      <mat-label>Horas Disponibles</mat-label>
                      <mat-select
                        multiple
                        formControlName="disponibilidadViernes"
                      >
                        <mat-option
                          *ngFor="let hora of horasLibres"
                          [value]="hora.value"
                        >
                          {{ hora.description }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <!-- </div> -->
                  </div>
                  <div class="col">
                    <!-- <div class="row"> -->
                    <h4>Sabado</h4>
                    <mat-form-field>
                      <mat-label>Horas Disponibles</mat-label>
                      <mat-select
                        multiple
                        formControlName="disponibilidadSabado"
                      >
                        <mat-option
                          *ngFor="let hora of horasLibres"
                          [value]="hora.value"
                        >
                          {{ hora.description }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <!-- </div> -->
                  </div>
                </div>
              </div>
              <mat-divider></mat-divider>
              <div class="row row-inter">
                <div class="col">
                  <mat-form-field class="full-width">
                    <textarea
                      matInput
                      cdkTextareaAutosize
                      #autosize="cdkTextareaAutosize"
                      cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="5"
                      placeholder="Observaciones"
                      formControlName="observaciones"
                    ></textarea>
                    <!-- [(ngModel)]="inscripcionCurso.EscAgeInsObservaciones" -->
                  </mat-form-field>
                </div>
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions align="end">
            <button
              mat-raised-button
              color="primary"
              type="button"
              [class.invisible]="mode !== 'UPD'"
              (click)="guardarDisponibilidad($event)"
            >
              Guardar disponibilidad
            </button>
            <button mat-raised-button (click)="onNoClick()">Volver</button>
          </mat-card-actions>
        </form>
      </mat-card>
    </div>
  </div>
</div>

<!-- Copyright 2019 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
