<div class="row center-xs margin-abm">
  <div class="col">
    <div class="box">
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle (click)="tipo = 'facturacion-por-item'">
          Facturación Por Código Ítem
        </mat-button-toggle>
        <mat-button-toggle (click)="tipo = 'inicio-curso-periodo'">
          Inicio de curso por período
        </mat-button-toggle>
        <mat-button-toggle (click)="tipo = 'cantidad-clases-periodo'">
          Cantidad de clases por período
        </mat-button-toggle>
        <mat-button-toggle
          (click)="tipo = 'cantidad-clases-por-alumno-por-mes'"
        >
          Cantidad Clases por alumno y por mes
        </mat-button-toggle>
        <mat-button-toggle (click)="tipo = 'alumnos-pendientes-de-pago'">
          Alumnos pendientes de pago
        </mat-button-toggle>
        <mat-button-toggle (click)="tipo = 'plan-clases-extendido'">
          Plan de clases extendido
        </mat-button-toggle>
        <mat-button-toggle (click)="tipo = 'facturas-por-alumno'">
          Facturas por alumno
        </mat-button-toggle>
        <mat-button-toggle (click)="tipo = 'expedientes-proximos-vencer'">
          Expedientes Próximos a Vencer
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
</div>

<div class="row center-xs margin-abm">
  <div class="col">
    <div class="box">
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle (click)="obtenerAlumnosCon10ClasesOmas()">
          Alumnos con 10 clases o más
        </mat-button-toggle>
        <mat-button-toggle (click)="tipo = 'clases-hasta-examen'">
          Clases hasta examen
        </mat-button-toggle>
      </mat-button-toggle-group>
      <mat-button-toggle (click)="getReporteCursoAlumno()">
        Cursos Por Alumno
      </mat-button-toggle>
      <mat-button-toggle (click)="tipo = 'cantidad-clases-por-instructor'">
        Cantidad de Clases por Instructor
      </mat-button-toggle>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div [ngSwitch]="tipo">
        <div *ngSwitchCase="'facturacion-por-item'">
          <app-facturacion-por-item></app-facturacion-por-item>
        </div>
        <div *ngSwitchCase="'inicio-curso-periodo'">
          <app-inicio-curso-por-periodo></app-inicio-curso-por-periodo>
        </div>
        <div *ngSwitchCase="'cantidad-clases-periodo'">
          <app-cantidad-clases-por-periodo></app-cantidad-clases-por-periodo>
        </div>
        <div *ngSwitchCase="'cantidad-clases-por-alumno-por-mes'">
          <app-cantidad-clases-por-alumno-por-mes></app-cantidad-clases-por-alumno-por-mes>
        </div>
        <div *ngSwitchCase="'alumnos-pendientes-de-pago'">
          <app-alumnos-pendientes-de-pago></app-alumnos-pendientes-de-pago>
        </div>
        <div *ngSwitchCase="'plan-clases-extendido'">
          <app-plan-de-clases-extendido></app-plan-de-clases-extendido>
        </div>
        <div *ngSwitchCase="'facturas-por-alumno'">
          <app-facturas-por-alumno></app-facturas-por-alumno>
        </div>
        <div *ngSwitchCase="'expedientes-proximos-vencer'">
          <app-expedientes-proximos-vencer></app-expedientes-proximos-vencer>
        </div>
        <div *ngSwitchCase="'clases-hasta-examen'">
          <app-clases-hasta-examen></app-clases-hasta-examen>
        </div>
        <div *ngSwitchCase="'cantidad-clases-por-instructor'">
          <app-catidad-clases-por-instructor></app-catidad-clases-por-instructor>
        </div>
        <div *ngSwitchDefault>
          <div class="row" style="margin-top: 20px">
            <div class="col-xs-offset-4 col-xs-4">
              <div class="box">
                <h1>
                  Seleccione el reporte que desea visualizar con los botones de
                  arriba.
                </h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
