<form [formGroup]="form">
  <mat-toolbar color="primary">
    <h2 mat-dialog-title>Agenda de Clase</h2>
  </mat-toolbar>

  <mat-dialog-content class="mat-typography">
    <div class="contenedor">
      <div class="row">
        <div class="col-xs-4">
          <div class="box">
            <mat-form-field class="full-width">
              <input
                matInput
                [matDatepicker]="picker"
                placeholder="Fecha"
                formControlName="fecha"
                disabled
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="box">
            <mat-form-field class="full-width">
              <input
                matInput
                placeholder="Hora"
                formControlName="hora"
                disabled
              />
            </mat-form-field>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="box">
            <mat-form-field class="full-width">
              <input
                matInput
                placeholder="Número de Movil"
                formControlName="movil"
                disabled
              />
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <div class="box">
            <mat-form-field class="full-width">
              <input
                matInput
                placeholder="Número del alumno"
                formControlName="alumnoNumero"
                [errorStateMatcher]="matcher"
              />
              <button
                mat-icon-button
                matSuffix
                [attr.aria-label]="'Hide password'"
                (click)="seleccionarAlumno()"
              >
                <mat-icon> search </mat-icon>
              </button>

              <mat-error
                *ngIf="
                  alumnoNumero.hasError('required') &&
                  alumnoNumero.dirty &&
                  alumnoNumero.errors
                "
              >
                El número del alumno <strong>es requerido.</strong>
              </mat-error>
              <mat-error
                *ngIf="
                  alumnoNumero.hasError('existeAlumno') &&
                  alumnoNumero.dirty &&
                  alumnoNumero.errors
                "
              >
                El número del alumno <strong>no existe.</strong>
              </mat-error>
              <mat-error
                *ngIf="
                  alumnoNumero.hasError('alumnoYaAsignado') &&
                  alumnoNumero.dirty &&
                  alumnoNumero.errors
                "
              >
                El alumno ya se encuentra <strong> asignado </strong> en otro
                movil.
              </mat-error>
              <mat-error
                *ngIf="
                  alumnoNumero.hasError('alumnoTieneExcepcion') &&
                  (alumnoNumero.dirty || alumnoNumero.errors)
                "
              >
                El alumno tiene cargada una <strong>excepción </strong> para
                este día y hora.
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col-xs-8">
          <div class="box">
            <mat-form-field class="full-width">
              <input
                matInput
                placeholder="Nombre del alumno"
                formControlName="alumnoNombre"
                [errorStateMatcher]="matcher"
              />
              <mat-error *ngIf="alumnoNombre.hasError('required')">
                Alumno es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-4">
          <div class="box">
            <mat-form-field class="full-width">
              <input
                matInput
                placeholder="Teléfono del alumno"
                formControlName="alumnoTelefono"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="col-xs-8">
          <div class="box">
            <mat-form-field class="full-width">
              <input
                matInput
                placeholder="Celular del alumno"
                formControlName="alumnoCelular"
              />
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-4">
          <div class="box">
            <mat-form-field class="full-width">
              <input
                matInput
                placeholder="Curso"
                formControlName="cursoId"
                (keyup)="obtenerCurso()"
              />
              <button
                mat-icon-button
                matSuffix
                [attr.aria-label]="'Hide password'"
                (click)="seleccionarCurso()"
              >
                <mat-icon> search </mat-icon>
              </button>

              <mat-error *ngIf="cursoId.hasError('required')">
                Debe <strong>seleccionar</strong> un curso.
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="col-xs-8">
          <div class="box">
            <mat-form-field class="full-width">
              <input
                matInput
                placeholder="Nombre del Curso"
                formControlName="cursoNombre"
              />
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-4">
          <div class="box">
            <mat-form-field class="full-width">
              <input
                matInput
                placeholder="Nº de Clase Práctica"
                [value]="agendaClase.EsAgCuNroCla"
                formControlName="numeroClase"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="box">
            <mat-form-field class="full-width">
              <mat-select
                placeholder="Es clase adicional?"
                formControlName="claseAdicional"
              >
                <mat-option value="S">Si</mat-option>
                <mat-option value="N">No</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="box">
            <mat-form-field class="full-width">
              <mat-select placeholder="Tipo Clase" formControlName="tipoClase">
                <mat-option></mat-option>
                <mat-option value="P"> Práctica </mat-option>
                <!-- <mat-option value="E">Examen</mat-option> -->
                <mat-option value="T">Teórico</mat-option>
                <mat-option value="S">Simulador</mat-option>
                <!-- <mat-option value="V">Evaluación</mat-option>
                                <mat-option value="I">Teórico Instr.</mat-option> -->
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <div class="box">
            <mat-form-field class="full-width">
              <input
                matInput
                placeholder="Instructor asignado al curso"
                formControlName="avisoInstructor"
              />
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <div class="box">
            <mat-form-field class="full-width">
              <input
                matInput
                placeholder="Instructor"
                formControlName="instructorId"
              />
              <button
                mat-icon-button
                matSuffix
                [attr.aria-label]="'Hide password'"
                (click)="seleccionarInstructor()"
              >
                <mat-icon> search </mat-icon>
              </button>
              <mat-error
                *ngIf="
                  instructorId.hasError('licenciaInstructor') &&
                  instructorId.dirty &&
                  instructorId.errors
                "
              >
                El instructor se encuentra <strong> de licencia.</strong>
              </mat-error>
              <mat-error
                *ngIf="
                  instructorId.hasError('instructorYaAsignado') &&
                  instructorId.dirty &&
                  instructorId.errors
                "
              >
                El instructor se encuentra <strong> ya asignado</strong> para
                esta hora en otro movil.
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col-xs-8">
          <div class="box">
            <mat-form-field class="full-width">
              <input
                matInput
                placeholder="Nombre del Instructor"
                formControlName="instructorNombre"
              />
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <div class="box">
            <mat-form-field class="full-width">
              <input matInput placeholder="Detalle" formControlName="detalle" />
            </mat-form-field>
          </div>
        </div>
        <div class="col-xs">
          <div class="box">
            <mat-form-field class="full-width">
              <mat-select
                placeholder="Estado de la Clase"
                formControlName="estadoClase"
              >
                <mat-option>-</mat-option>
                <mat-option value="A">Asignada</mat-option>
                <mat-option value="S">Suspendida Con Cobro</mat-option>
                <mat-option value="U">Suspendida Sin Cobro</mat-option>
                <mat-option value="I">Ausencia del Instructor</mat-option>
                <mat-option value="B">Bloqueada</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs">
          <div class="box">
            <mat-form-field class="full-width">
              <input
                matInput
                placeholder="Usuario que creo la agenda"
                formControlName="usuarioAltaNombre"
              />
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <div class="box">
            <mat-form-field class="full-width">
              <textarea
                matInput
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5"
                placeholder="Observaciones"
                formControlName="observaciones"
              ></textarea>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <div class="box">
            <mat-form-field class="full-width">
              <textarea
                matInput
                placeholder="Observaciones"
                [value]="agendaClase.EsAgCuDetAviso"
                formControlName="aviso"
              ></textarea>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button
      mat-raised-button
      type="button"
      (click)="guardarClase($event)"
      cdkFocusInitial
      color="primary"
      *ngIf="estadoClase.value !== 'I' && estadoClase.value !== 'B'"
    >
      Guardar Cambios
    </button>
    <button mat-button mat-dialog-close (click)="onNoClick()">Cancelar</button>
  </mat-dialog-actions>
</form>
