.full-width {
    width: 100%;
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: auto;
}

.tooltip-red {
    background: #b71c1c;
}

.tooltip-blue {
    background: #1976d2;
}

.tooltip-green {
    background: #17c14c;
}

.button-eliminar {
    background-color: #b71c1c;
    color: white;
}

.button-editar {
    background-color: #1976d2;
    color: white;
}

