<form [formGroup]="form" (ngSubmit)="facturar($event)">

    <mat-toolbar color="primary">
        <h2 mat-dialog-title>Datos para la Facturación</h2>
    </mat-toolbar>

    <mat-dialog-content class="mat-typography">

        <div class="contenedor">

            <div class="row">
                <div class="col-xs-12">
                    <!-- <mat-form-field class="full-width"> -->
                    <!-- <mat-checkbox formControlName="factura" [(ngModel)]='facturaResponse.generaFactura' -->
                    <mat-checkbox formControlName="factura" [(ngModel)]='facturaCheck'
                        (change)="actualizarFormInvalid()">Factura</mat-checkbox>
                    <!-- </mat-form-field> -->
                </div>
            </div>

            <div class="row" *ngIf="!facturaCheck">
                <div class="col-xs-12">
                    <mat-form-field class="full-width">
                        <mat-label>Detalles</mat-label>
                        <textarea matInput placeholder="Ej. No se genera factura por caso excepcional."
                            formControlName="noFacMot" [(ngModel)]="facturaResponse.motivoNoFactura"
                            (change)="actualizarFormInvalid()"></textarea>
                        <!-- &&  noFacMotField.dirty && noFacMotField.errors  && !facturaCheck -->
                        <mat-error *ngIf="noFacMotInvalid">
                            Debe ingresar información o motivo por la <strong>no generación</strong> de la factura.
                        </mat-error>
                    </mat-form-field>

                </div>
            </div>

            <div class="row" *ngIf="facturaCheck">
                <div class="col-xs-12">
                    <!-- <mat-checkbox formControlName="facturaConRUT" [(ngModel)]='facturaResponse.facturaConRUT' -->
                    <mat-checkbox formControlName="facturaConRUT" [(ngModel)]='facturaConRUTCheck'
                        (change)="actualizarFormInvalid()">Factura con RUT?
                    </mat-checkbox>
                </div>

                <div *ngIf="facturaConRUTCheck">
                    <div class="col-xs-12">

                        <mat-form-field class="full-width">
                            <mat-label>RUT</mat-label>
                            <input matInput placeholder=".." formControlName="RUT" [(ngModel)]="facturaResponse.RUT"
                                (change)="actualizarFormInvalid()">
                            <mat-error *ngIf="RUTField.value === '' ">
                                · El RUT es <strong>requerido</strong>.
                            </mat-error>
                            <mat-error *ngIf="RUTField.hasError('rut_invalid')">
                                <!--   && RUTField.errors -->
                                · ERROR: El RUT <strong>no es correcto</strong>. Ingreselo nuevamente.
                            </mat-error>
                        </mat-form-field>
                    </div>



                    <div class="col-xs-12">
                        <mat-form-field class="full-width">
                            <mat-label>Razón Social</mat-label>
                            <input matInput placeholder="Automóvil Club del Uruguay"
                                [(ngModel)]="facturaResponse.razonSocial" formControlName="razonSocial"
                                (change)="actualizarFormInvalid()">
                            <mat-error *ngIf=" razonSocialField.value === ''">
                                El RUT es <strong>requerido</strong>.
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="col-xs-12">
                    <mat-form-field class="full-width">
                        <mat-label>Descuento del curso a facturar</mat-label>
                        <input matInput placeholder=".." formControlName="descuentoCurso"
                            [(ngModel)]="facturaResponse.descuento" (change)="actualizarFormInvalid()">
                        <mat-error
                            *ngIf="descuentoCursoField.hasError('porcentaje_invalid') && descuentoCursoField.dirty && descuentoCursoField.errors">
                            ATENCIÓN: el descuento no puede <strong>ser menor</strong> a 0% o <strong>ser
                                mayor</strong>
                            al 100%.
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

        </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <!-- [disabled]="form.invalid" -->
        <button mat-raised-button type="submit" [disabled]="formInvalid" cdkFocusInitial
            [mat-dialog-close]="facturaResponse">Facturar</button>
        <!-- <button mat-button mat-dialog-close (click)="onNoClick()">Cancelar</button> -->
        <button mat-button (click)="onNoClick()">Cancelar</button>
    </mat-dialog-actions>

</form>

<!-- Copyright 2019 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->