<form [formGroup]="form" (ngSubmit)="guardarClase($event)">
  <mat-toolbar color="primary">
    <h2 mat-dialog-title>Inscripción al Curso</h2>
  </mat-toolbar>

  <mat-dialog-content class="mat-typography">
    <div class="contenedor">
      <h3>Alumno</h3>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              [matDatepicker]="picker"
              placeholder="Fecha de Inscripción"
              [value]="fechaClase"
              formControlName="fechaClase"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>

            <mat-error
              *ngIf="
                fechaClaseFiled.hasError('required') &&
                fechaClaseFiled.dirty &&
                fechaClaseFiled.errors
              "
            >
              La fecha de la clase es <strong>requerida </strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-4">
          <mat-form-field class="full-width">
            <input
              matInput
              type="number"
              placeholder="Cédula de Identidad"
              formControlName="alumnoCI"
              id="searchAlumno"
              #searchAlumno
            />
            <button
              mat-icon-button
              matSuffix
              [attr.aria-label]="'Hide password'"
              (click)="seleccionarAlumno()"
            >
              <mat-icon> search </mat-icon>
            </button>
            <button
              mat-icon-button
              matSuffix
              [attr.aria-label]="'Hide password'"
              (click)="altaAlumno()"
            >
              <mat-icon> add </mat-icon>
            </button>

            <mat-error
              *ngIf="
                alumnoCIField.hasError('required') &&
                alumnoCIField.dirty &&
                alumnoCIField.errors
              "
            >
              El alumno es <strong>requerido </strong>
            </mat-error>
            <mat-error
              *ngIf="
                alumnoCIField.hasError('tiene-facturas-pendientes-de-pago')
              "
            >
              El alumno tiene facturas
              <strong> pendientes de pago </strong> anteriores al dia de hoy,
              verifique.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Nombre del Alumno"
              formControlName="alumnoNombre"
            />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Número del Alumno"
              formControlName="alumnoNumero"
              [errorStateMatcher]="matcher"
            />
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Télefono"
              formControlName="alumnoTelefono"
            />
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Celular"
              formControlName="alumnoCelular"
            />
          </mat-form-field>
        </div>
      </div>

      <mat-divider></mat-divider>
      <h3>Curso</h3>
      <div class="row">
        <div class="col-xs-4">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Curso"
              formControlName="cursoId"
              (keyup)="obtenerCurso()"
            />
            <button
              mat-icon-button
              matSuffix
              [attr.aria-label]="'Hide password'"
              (click)="seleccionarCurso()"
            >
              <mat-icon> search </mat-icon>
            </button>
          </mat-form-field>
        </div>

        <div class="col-xs-8">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Nombre del Curso"
              formControlName="cursoNombre"
            />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col-xs-3">
              <mat-form-field class="full-width">
                <input
                  matInput
                  placeholder="Prácticas"
                  formControlName="cursoClasesPracticas"
                />
              </mat-form-field>
            </div>
            <div class="col-xs-3">
              <mat-form-field class="full-width">
                <input
                  matInput
                  placeholder="Teóricas"
                  formControlName="cursoClasesTeoricas"
                />
              </mat-form-field>
            </div>
            <div class="col-xs-3">
              <div id="cursoExamenPractico" style="margin-top: 20px">
                <mat-checkbox formControlName="cursoExamenPractico">
                  Examen Práctico</mat-checkbox
                >
              </div>
            </div>
            <div class="col-xs-3">
              <div id="cursoExamenTeorico" style="margin-top: 20px">
                <mat-checkbox formControlName="cursoExamenTeorico"
                  >Examen Teórico
                </mat-checkbox>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6">
          <mat-form-field class="full-width">
            <input
              matInput
              [matDatepicker]="pickerCurso"
              placeholder="Inicio del Curso"
              formControlName="escCurIni"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="pickerCurso"
            ></mat-datepicker-toggle>
            <mat-datepicker #pickerCurso></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-xs">
          <mat-form-field class="full-width">
            <input
              matInput
              [matDatepicker]="pickerEstimada"
              placeholder="Fecha de Inicio propuesta por el Alumno"
              formControlName="fechaInicioEstimada"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="pickerEstimada"
            ></mat-datepicker-toggle>
            <mat-datepicker #pickerEstimada></mat-datepicker>
            <mat-error *ngIf="fechaInicioEstimadaField.hasError('required')">
              La Fecha de Inicio propuesta por el Alumno
              <strong>es requerida.</strong>
            </mat-error>

            <mat-error
              *ngIf="
                fechaInicioEstimadaField.hasError('fecha_invalid') &&
                fechaInicioEstimadaField.dirty &&
                fechaInicioEstimadaField.errors
              "
            >
              La Fecha de Inicio propuesta por el Alumno tiene que ser
              <strong>mayor</strong> al dia de hoy.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <mat-form-field class="full-width">
            <mat-label>Sede</mat-label>
            <mat-select formControlName="sede">
              <mat-option *ngFor="let sede of sedes" [value]="sede.value"
                >{{ sede.description }}
              </mat-option>
            </mat-select>

            <mat-error
              *ngIf="sede.hasError('required') && sede.dirty && sede.errors"
            >
              La sede es <strong> requerida </strong>.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xs-6">
          <div id="irABuscarAlAlumno" style="margin-top: 20px">
            <mat-checkbox formControlName="irABuscarAlAlumno" color="primary">
              Recoger al alumno en su domicilio?
            </mat-checkbox>
          </div>
        </div>
      </div>

      <mat-divider></mat-divider>
      <h3>Clases Teóricas</h3>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              [matDatepicker]="pickerPrimerTeorica"
              placeholder="1er. Teórica"
              formControlName="escCurTe1"
              (dateInput)="cambiarDiaFecha1('input', $event)"
              (dateChange)="cambiarDiaFecha1('change', $event)"
            />

            <mat-hint> {{ fecha1 | date: "EEEE" | daySpanish }}</mat-hint>
            <mat-datepicker-toggle
              matSuffix
              [for]="pickerPrimerTeorica"
            ></mat-datepicker-toggle>
            <mat-datepicker #pickerPrimerTeorica></mat-datepicker>

            <mat-error
              *ngIf="
                escCurTe1Field.hasError('fechaPosteriorInvalid') &&
                escCurTe1Field.dirty &&
                escCurTe1Field.errors
              "
            >
              La primer clase debe <strong>ser posterior</strong> a la de inicio
              de curso.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              [matDatepicker]="pickerSegundaTeorica"
              placeholder="2da. Teórica"
              formControlName="escCurTe2"
              (dateInput)="cambiarDiaFecha2('input', $event)"
              (dateChange)="cambiarDiaFecha2('change', $event)"
            />
            <mat-hint> {{ fecha2 | date: "EEEE" | daySpanish }}</mat-hint>
            <mat-datepicker-toggle
              matSuffix
              [for]="pickerSegundaTeorica"
            ></mat-datepicker-toggle>
            <mat-datepicker #pickerSegundaTeorica></mat-datepicker>

            <mat-error
              *ngIf="
                escCurTe2Field.hasError('fechaPosteriorInvalid') &&
                escCurTe2Field.dirty &&
                escCurTe2Field.errors
              "
            >
              La segunda clase debe <strong>ser posterior</strong> a la primer
              clase.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              [matDatepicker]="pickerTercerTeorica"
              placeholder="3er. Teórica"
              formControlName="escCurTe3"
              (dateInput)="cambiarDiaFecha3('input', $event)"
              (dateChange)="cambiarDiaFecha3('change', $event)"
            />
            <mat-hint> {{ fecha3 | date: "EEEE" | daySpanish }}</mat-hint>
            <mat-datepicker-toggle
              matSuffix
              [for]="pickerTercerTeorica"
            ></mat-datepicker-toggle>
            <mat-datepicker #pickerTercerTeorica></mat-datepicker>
            <mat-error
              *ngIf="
                escCurTe3Field.hasError('fechaPosteriorInvalid') &&
                escCurTe3Field.dirty &&
                escCurTe3Field.errors
              "
            >
              La tercer clase debe <strong>ser posterior</strong> a la segunda
              clase.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <mat-divider></mat-divider>

      <h3>Documentación para gestión de Permiso de Circulación</h3>

      <div class="row">
        <div class="col-xs-4">
          <div class="box">
            <div class="row">
              <div class="col-xs">
                <div class="box">
                  <div id="examenMedico" style="margin-top: 20px">
                    <mat-checkbox
                      formControlName="examenMedico"
                      color="primary"
                      (change)="changeExamenMedico($event)"
                    >
                      Examen médico
                    </mat-checkbox>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs">
                <div class="box">
                  <mat-form-field class="full-width">
                    <input
                      matInput
                      [matDatepicker]="pickerExamenMedico"
                      placeholder="Fecha de entrega de examen médico "
                      formControlName="fechaExamenMedico"
                    />
                    <mat-datepicker-toggle matSuffix [for]="pickerExamenMedico">
                    </mat-datepicker-toggle>
                    <mat-datepicker #pickerExamenMedico></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="box">
            <div class="row">
              <div class="col-xs">
                <div class="box">
                  <div id="licenciaCedulaIdentidad" style="margin-top: 20px">
                    <mat-checkbox
                      formControlName="licenciaCedulaIdentidad"
                      color="primary"
                      (change)="changeLicenciaCedulaIdentidad($event)"
                    >
                      Cédula de Identidad
                    </mat-checkbox>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs">
                <div class="box">
                  <mat-form-field class="full-width">
                    <input
                      matInput
                      [matDatepicker]="pickerFechaLicCedulaIdentidad"
                      placeholder="Fecha de Entrega de Cédula de Identidad"
                      formControlName="fechaLicCedulaIdentidad"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="pickerFechaLicCedulaIdentidad"
                    >
                    </mat-datepicker-toggle>
                    <mat-datepicker
                      #pickerFechaLicCedulaIdentidad
                    ></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="box">
            <div class="row">
              <div class="col-xs">
                <div class="box">
                  <div id="pagoDeLicencia" style="margin-top: 20px">
                    <mat-checkbox
                      formControlName="pagoDeLicencia"
                      color="primary"
                      (change)="changePagoLicencia($event)"
                    >
                      Pago de Licencia
                    </mat-checkbox>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs">
                <div class="box">
                  <mat-form-field class="full-width">
                    <input
                      matInput
                      [matDatepicker]="pickerPagoDeLicencia"
                      placeholder="Fecha de Pago de Licencia"
                      formControlName="fechaPagoLicencia"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="pickerPagoDeLicencia"
                    >
                    </mat-datepicker-toggle>
                    <mat-datepicker #pickerPagoDeLicencia></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <mat-divider></mat-divider>

      <h3>Documentos recibidos y firmados</h3>

      <div class="row">
        <div class="col-xs">
          <div class="box">
            <div id="reglamentoEscuela" style="margin-top: 20px">
              <mat-checkbox formControlName="reglamentoEscuela" color="primary">
                Reglamento Escuela
              </mat-checkbox>
            </div>
          </div>
        </div>
        <div class="col-xs">
          <div class="box">
            <div id="condicionesCurso" style="margin-top: 20px">
              <mat-checkbox formControlName="condicionesCurso" color="primary">
                Condiciones Curso
              </mat-checkbox>
            </div>
          </div>
        </div>
        <div class="col-xs">
          <div class="box">
            <div id="eLearning" style="margin-top: 20px">
              <mat-checkbox formControlName="eLearning" color="primary">
                E-Learning
              </mat-checkbox>
            </div>
          </div>
        </div>
      </div>
      <mat-divider></mat-divider>

      <h3>Disponibilidad del alumno</h3>
      <div class="row">
        <div class="col">
          <h4>Lunes</h4>
          <mat-form-field>
            <mat-label>Horas Disponibles</mat-label>
            <mat-select multiple formControlName="disponibilidadLunes">
              <mat-option *ngFor="let hora of horasLibres" [value]="hora.value"
                >{{ hora.description }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
          <h4>Martes</h4>
          <mat-form-field>
            <mat-label>Horas Disponibles</mat-label>
            <mat-select multiple formControlName="disponibilidadMartes">
              <mat-option *ngFor="let hora of horasLibres" [value]="hora.value"
                >{{ hora.description }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
          <h4>Miercoles</h4>
          <mat-form-field>
            <mat-label>Horas Disponibles</mat-label>
            <mat-select multiple formControlName="disponibilidadMiercoles">
              <mat-option *ngFor="let hora of horasLibres" [value]="hora.value"
                >{{ hora.description }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h4>Jueves</h4>
          <mat-form-field>
            <mat-label>Horas Disponibles</mat-label>
            <mat-select multiple formControlName="disponibilidadJueves">
              <mat-option *ngFor="let hora of horasLibres" [value]="hora.value"
                >{{ hora.description }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
          <h4>Viernes</h4>
          <mat-form-field>
            <mat-label>Horas Disponibles</mat-label>
            <mat-select multiple formControlName="disponibilidadViernes">
              <mat-option *ngFor="let hora of horasLibres" [value]="hora.value"
                >{{ hora.description }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
          <h4>Sabado</h4>
          <mat-form-field>
            <mat-label>Horas Disponibles</mat-label>
            <mat-select multiple formControlName="disponibilidadSabado">
              <mat-option *ngFor="let hora of horasLibres" [value]="hora.value"
                >{{ hora.description }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea
              matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="5"
              placeholder="Observaciones"
              formControlName="observaciones"
            ></textarea>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-4">
          <div id="limitarClases" style="margin-top: 20px">
            <mat-checkbox
              formControlName="limitarClases"
              color="primary"
              (click)="verLimiteClases = !verLimiteClases"
            >
              Limitar clases semanales?
            </mat-checkbox>
          </div>
        </div>
        <div class="col-xs-6" *ngIf="verLimiteClases">
          <mat-form-field class="full-width">
            <input
              matInput
              type="number"
              placeholder="Limite de clases"
              formControlName="limiteClases"
            />
          </mat-form-field>
        </div>
      </div>

      <mat-divider></mat-divider>

      <h3>Sede donde se va a facturar</h3>
      <div class="row">
        <div class="col-xs-6">
          <mat-form-field class="full-width">
            <mat-label>Sede de facturación</mat-label>
            <mat-select formControlName="sedeFacturacion">
              <mat-option *ngFor="let sede of sedes" [value]="sede.value"
                >{{ sede.description }}
              </mat-option>
            </mat-select>

            <mat-error
              *ngIf="
                sedeFacturacion.hasError('required') &&
                sedeFacturacion.dirty &&
                sedeFacturacion.errors
              "
            >
              La sede de facturación es <strong> requerida </strong>.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button
      mat-raised-button
      type="button"
      (click)="guardarClase($event)"
      cdkFocusInitial
      [disabled]="form.invalid"
      color="primary"
    >
      Continuar inscripción
    </button>
    <button mat-button mat-dialog-close (click)="onNoClick()">Cancelar</button>
  </mat-dialog-actions>
</form>

<!-- Copyright 2019 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
