<form [formGroup]="form">
  <mat-toolbar color="primary">
    <h2 mat-dialog-title>{{ esClaseAdicional ? 'Generar clase adicional' : 'Generar evaluacion práctica'}}</h2>
  </mat-toolbar>

  <mat-dialog-content class="mat-typography">
    <div class="row">
      <div class="col-xs">
        <div class="box">
          <mat-form-field class="full-width">
            <input
              matInput
              [matDatepicker]="picker"
              placeholder="Fecha"
              formControlName="fechaClase"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="col-xs">
        <div class="box">
          <mat-form-field class="full-width">
            <input
              matInput
              type="time"
              placeholder="Hora"
              formControlName="hora"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="col-xs">
        <div class="box">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Número de Movil"
              formControlName="movil"
              type="number"
            />

            <button
              mat-icon-button
              matSuffix
              [attr.aria-label]="'Hide password'"
              (click)="seleccionarMovil()"
            >
              <mat-icon> search </mat-icon>
            </button>

            <mat-error *ngIf="movil.hasError('required') || movil.value === 0">
              El móvil es <strong>requerido</strong>.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-4">
        <div class="box">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Número del alumno"
              formControlName="alumnoNumero"
              required
            />
            <button
              mat-icon-button
              matSuffix
              [attr.aria-label]="'Hide password'"
              (click)="seleccionarAlumno()"
            >
              <mat-icon> search </mat-icon>
            </button>

            <mat-error *ngIf="alumnoNumero.hasError('required')">
              El alumno es <strong>requerido</strong>.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="col-xs">
        <div class="box">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Nombre del alumno"
              formControlName="alumnoNombre"
            />
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-4">
        <div class="box">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Curso"
              formControlName="cursoId"
              (keyup)="obtenerCurso()"
              required
            />
            <button
              mat-icon-button
              matSuffix
              [attr.aria-label]="'Hide password'"
              (click)="seleccionarCurso()"
            >
              <mat-icon> search </mat-icon>
            </button>

            <mat-error *ngIf="cursoId.hasError('required')">
              El curso es <strong>requerido</strong>.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="col-xs">
        <div class="box">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Nombre del curso"
              formControlName="cursoNombre"
            />
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-4">
        <div class="box">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Código del Instructor"
              formControlName="escInsId"
              required
            />

            <button
              mat-icon-button
              matSuffix
              [attr.aria-label]="'Hide password'"
              (click)="seleccionarInstructor()"
            >
              <mat-icon> search </mat-icon>
            </button>

            <mat-error *ngIf="escInsId.hasError('required')">
              El instructor es <strong>requerido</strong>.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="col-xs">
        <div class="box">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Nombre del Instructor"
              formControlName="escInsNom"
            />
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs">
        <div class="box">
          <mat-form-field class="full-width">
            <textarea
              matInput
              placeholder="Observaciones"
              formControlName="observaciones"
              cdkAutosizeMinRows="2"
              cdkAutosizeMaxRows="5"
            ></textarea>
          </mat-form-field>
        </div>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button
      mat-raised-button
      type="button"
      (click)="generarClaseAdicional($event)"
      cdkFocusInitial
      [disabled]="form.invalid"
      color="primary"
    >
    {{ esClaseAdicional ? 'Generar clase adicional' : 'Generar evaluacion práctica'}}
    </button>
    <button mat-button mat-dialog-close (click)="onNoClick()">Cancelar</button>
  </mat-dialog-actions>
</form>
