<mat-toolbar color="primary">
    <h2 mat-dialog-title>Inscripciones del alumno: {{alumno}}</h2>
</mat-toolbar>



<mat-dialog-content class="mat-typography">


    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let row">
                    <button mat-mini-fab color="primary" [mat-dialog-close]="row" matTooltip="Seleccionar estimación">
                        <mat-icon> check</mat-icon>
                    </button>
                </td>
            </ng-container>


            <!-- Código Column -->
            <ng-container matColumnDef="TipCurId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Curso </th>
                <td mat-cell *matCellDef="let row"> {{row.TipCurId}} - {{ row.TipCurNom}} </td>
            </ng-container>

            <!-- Nombre Column -->
            <ng-container matColumnDef="EscInsId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                <td mat-cell *matCellDef="let row"> {{row.EscInsId}} - {{row.EscInsNom}} </td>
            </ng-container>

            <!-- FechaInicio Column -->
            <ng-container matColumnDef="FechaInscripcion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Inicio </th>
                <td mat-cell *matCellDef="let row"> {{row.FechaInscripcion}} </td>
            </ng-container>


            <!-- Detalle Column -->
            <ng-container matColumnDef="detalle">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let row">
                    <!-- (click)="verDetalle(row.Detalle)" -->
                    <button mat-mini-fab color="primary" (click)="verDisponibilidad(row)" matTooltip="Disponibilidad del alumno">
                        <mat-icon> search</mat-icon>
                    </button>
                    <!-- (click)="verPDF(row)"  -->
                    <button mat-mini-fab (click)="verPlanDeClases(row)" matTooltip="Descargar PDF de Plan de Clases">
                        <mat-icon> insert_drive_file</mat-icon>
                    </button>


                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>



    </div>


</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close (click)="onNoClick()">Volver</button>
</mat-dialog-actions>